[flake8]
max-line-length = 100
max-doc-length = 100
extend-ignore =
    # something == None constructs are needed for SQLAlchemy
    E711
per-file-ignores =
    __init__.py: F401
    test/python/utils/test_json_writer.py: E131
    test/python/conftest.py: E402
    test/bdd/*: F821
