*.log

nominatim/*.d
nominatim/*.o
nominatim/nominatim
module/nominatim.so
settings/configuration.txt
settings/download.lock
settings/state.txt
settings/local.php

.deps/
autom4te.cache/
config.*
configure
Makefile
Makefile.in
stamp-h1
missing
INSTALL
aclocal.m4
