[MASTER]

extension-pkg-whitelist=osmium
ignored-modules=icu,datrie

[MESSAGES CONTROL]

[TYPECHECK]

# closing added here because it sometimes triggers a false positive with
# 'with' statements.
ignored-classes=NominatimArgs,closing
# 'too-many-ancestors' is triggered already by deriving from UserDict
disable=too-few-public-methods,duplicate-code,too-many-ancestors,bad-option-value,no-self-use

good-names=i,x,y,fd,db,cc
