<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
    bootstrap="test/php/bootstrap.php"
    >
    <php>
    </php>
    <testsuites>
        <testsuite name="Nominatim PHP Test Suite">
            <directory>./test/php/Nominatim</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./lib/</directory>
        </whitelist>
    </filter>

</phpunit>
