.toctree-l3 {
    display: none!important
}

.wy-nav-content {
    max-width: 900px!important
}

table {
    margin-bottom: 12pt
}

th, td {
    padding: 1pt 12pt;
}

th {
    background-color: #eee;
}

.doc-object h6 {
    margin-bottom: 0.8em;
    font-size: 130%;
}

.doc-object {
    margin-bottom: 1.3em;
}

.doc-children .doc-contents {
    margin-left: 3em;
