table {
    margin-bottom: 12pt
}

th, td {
    padding: 1pt 12pt;
}

th {
    background-color: #eee;
}

.doc-object h6 {
    margin-bottom: 0.8em;
    font-size: 120%;
}

.doc-object {
    margin-bottom: 1.3em;
}
