.toctree-l3 {
    display: none!important
}

.md-content {
    max-width: 800px
}

table {
    margin-bottom: 12pt
}

th, td {
    padding: 1pt 12pt;
}

th {
    background-color: #eee;
}

.doc-object h6 {
    margin-bottom: 0.8em;
    font-size: 130%;
}

.doc-object {
    margin-bottom: 1.3em;
}

.doc-children .doc-contents {
    margin-left: 3em;
}

.md-footer__inner {
    display: none;
}

.headerlink {
  filter: grayscale(100%);
  font-size: 80%;
}

.simple-table table:not([class]) th,
.simple-table table:not([class]) td {
    padding: 2px 4px;
    background: white;
}
