#!/usr/bin/env python3
import sys
import os

sys.path.insert(1, '@NOMINATIM_LIBDIR@/lib-python')

from nominatim import cli
from nominatim import version

version.GIT_COMMIT_HASH = '@GIT_HASH@'

exit(cli.nominatim(module_dir='@NOMINATIM_LIBDIR@/module',
                   osm2pgsql_path='@NOMINATIM_LIBDIR@/osm2pgsql',
                   phpcgi_path='@PHPCGI_BIN@'))
