#!/usr/bin/env python3
import sys
import os

sys.path.insert(1, '@CMAKE_SOURCE_DIR@')

from nominatim import cli
from nominatim import version

version.GIT_COMMIT_HASH = '@GIT_HASH@'

exit(cli.nominatim(module_dir='@CMAKE_BINARY_DIR@/module',
                   osm2pgsql_path='@CMAKE_BINARY_DIR@/osm2pgsql/osm2pgsql',
                   phpcgi_path='@PHPCGI_BIN@'))
