header {
  width: 100%;
  padding: 5px 15px;
  z-index: 5;
}

header .brand {
  white-space: nowrap;
}

header .brand a:hover{
  text-decoration: none;
}

header .brand h1 {
  display: inline;
  font-size: 1.5em;
  color: #333;
}

header .brand > img {
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
}

header #last-updated {
  font-size: 0.7em;
  white-space: nowrap;
  text-align: center;
}

header .dropdown-menu {
  z-index: 1001;
}