h1 {
  margin: 10px 0;
  padding-left: 8px;
}
h1 small a {
  font-size: 0.5em;
  white-space: nowrap;
}
h2 {
  font-size: 2em;
  padding-left: 8px;
  background-color: white;
}
h3 {
  font-size: 1.5em;
  padding-left: 8px;
}

tr.all-columns {
  background-color: white !important; 
  border: none;
}
tr.all-columns td {
  border-top: none !important;
  padding-left: 0 !important;
}

.table {
  width: 100%;
}
.table td {
  font-size: 0.9em;
}
.table>thead>tr>td, .table>tbody>tr>td {
  padding: 2px 8px;
}
.name{
  font-weight: bold;
}
.notused{
  color:#ddd;
}
.noname{
  color:#800;
}
#map {
  width:100%;
  height:300px;
  border: 1px solid #666;
}
#mapicon {
  margin: 10px 0;
}

#details-index-page .search-form {
  padding: 20px 10px;
  margin: 2em 0;
}
#details-index-page .search-form h4 {
  margin-top: 0;
}
#details-index-page .search-form .form-control{
  width: 30em;
}

footer {
  text-align: center;  
  padding: 2em 0;
  font-size: 0.8em;
  clear: both;
  color: #333;
}

footer p {
  margin: 1em;
}