<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="./bootstrap.php"
  beStrictAboutTestsThatDoNotTestAnything="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>../../lib-php/</directory>
    </include>
  </coverage>
  <php>
    </php>
  <testsuites>
    <testsuite name="Nominatim PHP Test Suite">
      <directory>./Nominatim</directory>
    </testsuite>
  </testsuites>
</phpunit>
