name: CI Tests (Windows)

on: [ push, pull_request ]

jobs:
    tests:
      strategy:
          matrix:
              flavour: ["windows-latest"]
              include:
                  - flavour: windows-latest
                    runner: windows-latest
                    python: '3.11'

      runs-on: ${{ matrix.runner }}

      steps:
          - uses: actions/checkout@v4
            with:
              submodules: true

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: ${{ matrix.python }}
                cache: pip

          - name: Install test prerequisites
            run: |
              python -m pip install -U pip
              python -m pip install \
                pytest pytest-asyncio \
                "psycopg[binary]!=3.3.0" \
                python-dotenv pyyaml jinja2 psutil sqlalchemy

          - name: Python unit tests (Windows subset)
            run: |
              python -m pytest \
                test/python/utils \
                test/python/config \
                test/python/api/test_api_types.py \
                test/python/api/search/test_query.py \
                test/python/api/query_processing/test_regex_replace.py \
                test/python/api/query_processing/test_split_japanese_phrases.py